<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook" style="color: #2a67cf;"></i>
            <i class="fa-brands fa-instagram" style="color: #e6146f;"></i>
            <i class="fa-brands fa-x-twitter" style="color: #000000;"></i>
            <i class="fa-brands fa-linkedin" style="color: #2361cd;"></i>
        </div>
        <div> &copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>
